<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.css" 
    rel="stylesheet" crossorigin="anonymous">
  </head>
  <body class="container">
    <h1 class="display-6 my-2">{{title}}</h1>
    <div class="alert alert-primary">
      <p class="my-2">{{message}}</p>
    </div>
    <form method="post" action="/create-work-experience">
        
      project_no
      <input type="text" class="form-control" name="project_no" id="project_no">
      project_title
      <input type="text" class="form-control" name="project_title" id="project_title">
      pjt_content
      <input type="text" class="form-control" name="pjt_content" id="pjt_content">
      participate_date
      <input type="text" class="form-control" name="participate_date" id="participate_date">
      leave_date
      <input type="text" class="form-control" name="leave_date" id="leave_date">
      member_headcount
      <input type="text" class="form-control" name="member_headcount" id="member_headcount">
      program_language
      <input type="text" class="form-control" name="program_language" id="program_language">
      work_kind
      <input type="text" class="form-control" name="work_kind" id="work_kind">
      type1
      <input type="text" class="form-control" name="dev_tool_type1" id="dev_tool_type1">
      name1
      <input type="text" class="form-control" name="dev_tool_name1" id="dev_tool_name1">
      type2
      <input type="text" class="form-control" name="dev_tool_type2" id="dev_tool_type2">
      name2
      <input type="text" class="form-control" name="dev_tool_name2" id="dev_tool_name2">
      pjttype1
      <input type="text" class="form-control" name="pjt_support_tool_type1" id="pjt_support_tool_type1">
      pjtname1
      <input type="text" class="form-control" name="pjt_support_tool_name1" id="pjt_support_tool_name1">
      pjttype2
      <input type="text" class="form-control" name="pjt_support_tool_type2" id="pjt_support_tool_type2">
      pjtname2
      <input type="text" class="form-control" name="pjt_support_tool_name2" id="pjt_support_tool_name2">

      <input type="submit" class="btn btn-primary"
        value="Submit">
    </form>
  </body>
</html>